<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>

</style>

<body>



<div class="container">




    <div id="root">


        <task-list></task-list>


        <!--<h1>All Tasks:</h1>-->
        <!--<ul>-->
            <!--<li v-for="task in tasks">-->
                <!--{{ task.description }}-->
            <!--</li>-->
        <!--</ul>-->



        <!--&lt;!&ndash;Filter tasks by completed &ndash;&gt;-->
        <!--<h1>Completed Tasks:</h1>-->
        <!--<ul>-->
            <!--<li v-for="task in tasks" v-if="task.completed">-->
                <!--{{ task.description }}-->
            <!--</li>-->
        <!--</ul>-->


        <!--&lt;!&ndash;Another way to filter tasks by completed using computed&ndash;&gt;-->
        <!--<h1>Incomplete Tasks:</h1>-->
        <!--<ul>-->
            <!--<li v-for="task in incompleteTasks" v-if="!task.completed">-->
                <!--{{ task.description }}-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>



<script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>>
<script src="main.js"></script>>



</body>
</html>